---
import Footer from '../components/Footer';
import Habilidades from '../components/Habilidades';
import Header from '../components/Header';
import Projetos from '../components/Projetos';
import SobreMim from '../components/SobreMim';

interface Props {
	title: string;
}

const { title } = Astro.props;

/* <Header client:load /> */

---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="/dist/output.css" rel="stylesheet">
</head>
<body class="font-sans bg-gray-100 text-gray-400">
    <!-- Header -->
    <Header client:load />

    <!-- Main Content -->
    <div class="flex flex-col min-h-screen">
        <main class="flex-1 mx-auto">
            <SobreMim />
            <Projetos />
            <Habilidades />
            <slot />
        </main>

        <!-- Footer -->
        <Footer />
    </div>
</body>
</html>
